.card {
  width: 290px;
  box-shadow: 6px 9px 15px -5px #777777;
  border-radius: 13px;
  background-color: #fff;
}

.cardName {
  padding: 0;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

.cardInfo {
  text-align: center;
}

.detailButton {
  background-color: blue;
  box-shadow: 6px 9px 15px -5px #777777;
  border-radius: 10px;
  color: white;
  padding: 10px 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.detailButton:hover {
  box-shadow: none;
  background-color: rgb(0, 0, 161);
  transform: translateY(2.5px);
}
